<!DOCTYPE html>
<html lang="en">
        <%- include('../layout/header2'); -%>
<body>
    
    <div class="kotak-register">
        <p class="title-register">Register</p>
        <hr/>

        <form action="">
            <input type="text" class="form-register" name="email" placeholder="Username">
            <input type="text" class="form-register" name="email" placeholder="Email">
            <input type="text" class="form-register" name="email" placeholder="Password">
        
        </form>
        <button type="submit">Daftar</button>
    </div>
    <%- include('../layout/footer'); -%>
</body>
</html>