<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="nav flex-column nav-top bg-white">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark active">Yogi Saputra</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home" class="nav-link  mt-4 bg-warning text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark mt-4 bg-warning">Inventory</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-8 left">
                <div class="box">
                    <h3 class="text-center">Inventory</h3>
                    <span class="ml-3">Note: data masuk ke database bukan ke halaman website!</span>
                    <form action="http://localhost:3000/inventory/store" method="POST" class="form-group">

                        <label for="" class="mt-3">Nama Barang</label>
                        <input type="text" name="nama_brg" class="form-control form-invent">

                        <label for="" class="mt-3">Deksripsi Barang</label>
                        <input type="text" name="deskripsi_brg" class="form-control form-invent">

                        <label for="" class="mt-3">Harga Barang</label>
                        <input type="text" name="harga" class="form-control form-invent">
                        <button type="submit" class="btn btn-warning mt-3">SUBMIT</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>