<!DOCTYPE html>
<html lang="en">
        <%- include('../layout/header'); -%>
<body>
    
    <div class="kotak-login">
        <p class="title-login">Log in</p>
        <hr/>

        <form action="http://localhost:3000/login" method="POST">
            <input type="text" class="form-login" name="username" placeholder="Username">

            <input type="password" class="form-login" name="password" placeholder="Password">
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include('../layout/footer'); -%>
</body>
</html>